<?xml version="1.0" encoding="UTF-8"?>
<!-- status=debug 可以查看log4j的装配过程 -->
<Configuration status="off" monitorInterval="1800">
    <Properties>
        <property name="LOG_HOME">/log/fish</property>
        <!-- 日志备份目录 -->
        <property name="BACKUP_HOME">{LOG_HOME}/backup</property>
        <property name="STAT_NAME">stat</property>
        <property name="SERVER_NAME">global</property>
    </Properties>
    <Appenders>
        <!-- 定义控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
        </Console>
        <!-- 程序员调试日志 -->
        <RollingRandomAccessFile name="INFO" fileName="logs/info.log"
                                 filePattern="logs/info-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>
        <!-- 游戏产品数据分析日志 -->
        <RollingRandomAccessFile name="WARN"
                                 fileName="logs/warn.log"
                                 filePattern="logs/warn-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>
        <RollingFile name="ERR" fileName="logs/err.log"
                     filePattern="logs/$${date:yyyy-MM}/err_%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- 3rdparty Loggers -->
        <Logger name="org.springframework.core" level="info">
        </Logger>
        <Logger name="org.springframework.beans" level="info">
        </Logger>
        <Logger name="org.springframework.context" level="info">
        </Logger>
        <Logger name="org.springframework.web" level="info">
        </Logger>
        <Logger name="org.apache.http" level="warn">
        </Logger>
        <Logger name="org.mybatis" level="debug" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
        <Logger name="java.sql" level="debug" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
        <Logger name="java.sql.Connection" level="debug" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
        <Logger name="java.sql.Statement" level="trace" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
        <Logger name="java.sql.PreparedStatement" level="debug" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
        <Logger name="java.sql.ResultSet" level="debug" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
        <Logger name="com.yg.core" additivity="false" level="TRACE">
            <!--<AppenderRef ref="biz_debug"/>-->
            <AppenderRef ref="INFO"/>
        </Logger>
        <Logger name="com.yg.action" level="debug" additivity="false">
            <!--<AppenderRef ref="RollingFile"/>-->
            <AppenderRef ref="INFO"/>
        </Logger>
        <Logger name="com.yg.service" level="debug" additivity="false">
            <AppenderRef ref="INFO"/>
        </Logger>
        <Logger name="com.yg.task" level="debug" additivity="false">
            <AppenderRef ref="INFO"/>
        </Logger>
        <!-- Root Logger -->
        <Root level="DEBUG">
            <AppenderRef ref="INFO"/>
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="RollingFile"/>-->
            <!--<AppenderRef ref="ProductLog"/>-->
        </Root>
        <Root level="ERROR">
            <AppenderRef ref="ERR"/>
        </Root>
        <Root level="WARN">
            <AppenderRef ref="WARN"/>
        </Root>
    </Loggers>
</Configuration>